h2{
    font-size: 25px !important;
}

.btn-info:hover{
	font-size: 30px !important;
	background-color:rgb(92, 250, 1);

}

.btn-warning:hover{
    background-color:rgb(250, 1, 188);
}

canvas{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(255, 2, 158);}
    to{box-shadow: 1px 1px 38px rgb(255, 0, 0);}
}
